.page-competitions-sterling .sidebar .region-sidebar-second{
    background-color: #19242c;
    padding: 50px;
}
.page-competitions-sterling .sidebar .block {
    background-color: #19242c;
    font-family: 'headings',Sans-Serif;
    border: none;
    font-size: 20px;
    padding: 0;
}
.page-competitions-sterling .sidebar .block-views ~ .block-views {
    margin-top: 100px;
}
.page-competitions-sterling #main {
    background-color: #f6f6f6;
}

.page-competitions-sterling .sidebar .block ul {
    list-style: none;
    padding-left: 0;
}
.page-competitions-sterling .sidebar .block ul li {
    display: inline-block;
}
.page-competitions-sterling .sidebar .block ul li a {
    text-transform: uppercase;
}
.page-competitions-sterling .sidebar h2 {
    border-bottom: none;
    text-shadow: none;
    color: #fff;
    font-size: 30px;
}

.page-competitions-sterling .sidebar .section {
    padding-right: 0;
    padding-left: 0;
    padding-top: 0;
}

#drifter-submit-form {
    padding: 0 50px;
    margin-bottom: 50px;
}

#drifter-submit-form .form-text, #drifter-submit-form .form-select {
    height: 65px;
    width: 665px;
    padding-top: 0;
    padding-bottom: 0;
    border-color: #696969;
    border-radius: 5px;
    background-color: #fff;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;
    color: #696969;
}
#drifter-submit-form .form-select {
    width: 200px;
}

#drifter-submit-form input::-webkit-input-placeholder {
    color: #cbd1d9;
}

#drifter-submit-form input:-moz-placeholder {
    /* older Firefox*/
    color: #cbd1d9;
}

#drifter-submit-form input::-moz-placeholder {
    /* Firefox 19+ */
    color: #cbd1d9;
}

#drifter-submit-form input:-ms-input-placeholder {
    color: #cbd1d9;
}

#drifter-submit-form input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #cbd1d9;
    opacity: 1;
}

#drifter-submit-form input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #cbd1d9;
    opacity: 1;
}

#drifter-submit-form .form-item-first-name .form-text {
    width: 510px;
}

#drifter-submit-form .form-item label {
    display: none;
}

#drifter-submit-form .form-type-checkbox label {
    display: inline-block;
    font-size: 15px;
    font-family: "Lucida Grande","Lucida Sans Unicode",Verdana,sans-serif;
} 
#drifter-submit-form .form-submit {
    border-radius: 0;
    background-color: transparent;
    border: 2px solid #000;
    font-size: 15px;
    text-transform: uppercase;
    padding: 10px 40px;
    background-image: none;
    width: 225px;
    text-align: center;
}
#drifter-submit-form h3 {
    font-size: 45px;
    font-family: 'headings',Sans-Serif;
    text-transform: uppercase;
    width: 70%;
    line-height: 1;
}

#drifter-submit-form .description-custom p {
    font-size: 20px;
}

.page-competitions-sterling #footer-wrapper #block-menu-block-2:after {
    top: 0;
    left: 0;
}

#drifter-success-form .success-submision-form {
  text-align: center;
  font-size: 30px;
  padding-top: 40px;

}
#drifter-success-form .success-submision-form ~ #edit-submit {
    margin: auto;
  display: block;
}
/*......nsm........*/
#drifter-submit-form .form-item-first-name .form-textm-first-name .form-text{
  /*color: #cbd1d9;*/
  font-weight: 400;
}
@media(max-width: 991px){
        
    .page-competitions-sterling #drifter-submit-form{
        padding: 0 25px !important;
    }
    .page-competitions-sterling .sidebar .region-sidebar-second{
        padding: 25px !important;
    }
}
@media (max-width: 767px){
    .page-competitions-sterling .sidebar .block-views ~ .block-views{
        margin-top: 20px !important;
    }
    #footer .region{
        padding-bottom: 65px !important;
    }
    .page-competitions-sterling #drifter-submit-form h3{
        font-size: 30px !important;
        width: 100% !important;
    }
    .page-competitions-sterling #drifter-submit-form .form-text{
        width: -webkit-fill-available;
    }
    .page-competitions-sterling #drifter-submit-form .form-select{
        width: -webkit-fill-available;
    }
    .page-competitions-sterling #drifter-submit-form .form-item-first-name .form-text{
        width: -webkit-fill-available;
    }
}
@media (max-width: 640px){
    
}
@media (max-width: 480px){
    #block-menu-block-2 > .content, 
    #block-menu-block-3 > .content, 
    #block-menu-block-4 > .content{
        padding-left: 0 !important;
    }
    .page-competitions-sterling #drifter-submit-form h3{
        font-size: 25px !important;
    }
    .page-competitions-sterling #drifter-submit-form .form-text{
        font-size: 16px !important;
        height: 45px !important;
    }
    .page-competitions-sterling #drifter-submit-form .form-select{
        font-size: 16px !important;
        height: 45px !important;
    }
    .page-competitions-sterling #drifter-submit-form .form-item-first-name .form-text{
        font-size: 16px !important;
        height: 45px !important;
    }
}

.italic{
  font-style: italic;
}