/* Fonts */
@font-face {
    font-family: 'temp';
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'headings';
    src: url('fonts/BlockBerthold/block-berthold-extra-condensed.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bodycopy';
    src: url('fonts/HelvecticaNeue/HelveticaNeueLTStd-Md.otf');
    font-weight: normal;
    font-style: normal;
}

.heading-tag {
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 1;
}

.preheader-tag {
    font-size: 26px;
}

.taxonomy-sidebar-tag {
    font-size: 18px;
    letter-spacing: 1px;
}

.taxonomy-content-tag {
    font-size: 12px;
}

.module-headings-tag {
    font-size: 32px;
    line-height: 1;
}

.important-heading-tag {
    font-size: 32px !important;
}

.form-mandatory-tag {
    font-size: 14px;
    letter-spacing: 1px;
}

.generic-field-link-tag {
    font-size: 16px;
    line-height: 1;
    letter-spacing: 1px;
}

.header-field-link-tag {
    font-size: 18px;
    line-height: 26px;
}

.submit-search-tag {
    font-size: 16px;
}

.search-label-tag {
    font-size: 22px;
    letter-spacing: 1px;
}

.search-submit-2-tag {
    font-size: 12px;
    line-height: 21px;
}

.search-current-title-tag {
    font-size: 32px !important;
}

.search-excerpt-tag {
    font-size: 16px;
}

.search-pager-tag {
    font-size: 22px;
}

.store-locator-submit-tag {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1px;
}

.store-title-link-tag {
    font-size: 14px;
    letter-spacing: 1px;
}

.store-name-link-tag {
    font-size: 24px;
}

.store-name-first-link-tag {
    font-size: 36px;
}

.store-field-text-tag {
    font-size: 16px;
    letter-spacing: 1px;
}

.store-label-tag {
    font-size: 16px;
}

.store-label-important-tag {
    font-size: 14px !important;
}

.store-features-title-tag {
    font-size: 14px !important;
}

.store-icon-tag {
    font-size: 24px;
}

.standard-article-title-tag {
    font-size: 48px;
}

.standard-article-sub-title-tag {
    font-size: 28px !important;
}

.standard-article-name-tag {
    font-size: 22px;
}

.sidebar-heading-tag {
    font-size: 32px !important;
}

.sidebar-item-list-tag {
    font-size: 18px;
    letter-spacing: 1px;
}

.balloon-tag {
    font-size: 14px;
    line-height: 1;
}

.brands-listing-tag {
    font-size: 22px;
}

.generic-content-body-tag {
    font-size: 16px;
    line-height: 30px;
}

.pagenotfound-tag {
    font-size: 18px;
}

.form-title-tag {
    font-size: 64px !important;
    line-height: 1 !important;
}

.form-subtitle-tag {
    text-transform: uppercase;
    font-size: 32px;
}

.form-text-summary-tag {
    font-size: 18px;
}

.form-label-tag {
    font-size: 22px;
}

.form-error-tag {
    font-size: 18px;
}


.form-submit-tag {
    font-size: 18px;
    letter-spacing: 1px;
}

.banner-title-tag {
    line-height: 350px !important;
    font-size: 80px !important;
    letter-spacing: 1px;
}

.carousel-disclaimer-tag {
    font-size: 11px;
}

.main-menu-link-tag {
    font-size: 16px;
}

.main-menu-link-large-tag {
    font-size: 22px;
    line-height: 38px;
}

.footer-menu-block-tag {
    font-size: 16px;
}

.footer-menu-block-alt-tag {
    font-size: 15px;
}

.footer-menu-block-4-tag {
    font-size: 12px;
}

.store-locator-large-tag {
    font-size: 48px !important;
}

.store-locator-results-large-tag {
    font-size: 48px !important;
}

.autocomplete-tag {
    font-size: 12px;
}

.store-locator-submit-tag-home {
    font-size: 18px;
    line-height: 22px;
}

.store-locator-submit-tag-home-mobile {
    font-size: 22px;
    line-height: 22px;
}

.store-locator-submit-tag-search {
    font-size: 22px;
    line-height: 40px;
    letter-spacing: 1px;
}

.store-locator-submit-tag-search-mobile {
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 1px;
}

.store-locator-submit-tag-search-result {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1px;
}

.store-locator-submit-tag-search-result-mobile {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 1px;
}


.store-locator-submit-tag-home,
.store-locator-submit-tag-home-mobile,
.store-locator-submit-tag-search,
.store-locator-submit-tag-search-mobile,
.store-locator-submit-tag-search-result,
.store-locator-submit-tag-search-result-mobile {
    line-height: normal;
}


@import "../../less/core-styles.less";

/* Colour Pallette */
@primaryColour: #e57200;
@secondaryColour: #000; /* #323941; */
@tertiaryColour: #1d1d1d;
@darkColor: #666;
@lightColor: #f6f6f6;
@greyColorA: #efefef;
@greyColorB: #e6e6e6;
@textColor: #1c242b;

@gradientA: #e57200;
@gradientB: #e57200;

@headerColor: @secondaryColour;

@mainMenuBackgroundColor: @greyColorA;
@mainMenuForegroundColor: @tertiaryColour;
@mainMenuHoverColor: @primaryColour;

@darkBackground: @primaryColour;
@darkForeground: @lightColor;
@lightBackground: @greyColorA;
@lightForeground: @secondaryColour;

@svgColour: @lightColor;

@mapBallonBackground: @secondaryColour;
@slideBackground: rgb(8,9,16);
@slideForeground: #fff;

@footerTextColour: @lightColor;
@storeResultForeground: @lightColor;

@storeDivider: @lightColor;

.colour-primary {
    background-color: @primaryColour;
    color: @lightColor;
    .panel-panel-inner {
        .field-item a {
            color: @lightColor;
            border: 2px solid @lightColor;
        }
    }
}

.colour-secondary {
    background-color: #faaf42;
    color: @secondaryColour;
    .panel-panel-inner {
        .field-item a {
            color: @secondaryColour;
            border: 2px solid @secondaryColour;
        }
    }
}

.colour-dark {
    background-color: #000;
    color: @lightColor;
    .panel-panel-inner {
        .field-item a {
            color: @lightColor;
            border: 2px solid @lightColor;
        }
    }
}

.colour-light {
    background-color: #f8f8f8;
    color: #000;

    .panel-panel-inner {
        .field-item a {
            color: #000;
            border: 2px solid #000;
        }
    }
}


.pane-alm-store-locator-store-locator-home,
.pane-alm-store-locator-store-locator-default {
    input#edit-submit {
        color: @lightColor;
        background: @secondaryColour;
    }
}

.page-store-locator {
    .pane-alm-store-locator-store-locator-home,
    .pane-alm-store-locator-store-locator-default {
        input#edit-submit {
            color: @lightColor;
            background: @secondaryColour;
        }
    }
}

.view-carousel {

    .views-slideshow-cycle-main-frame-row-item {
        .field-name-field-call-to-action-link {
            .field-item a {
                border-color: @lightColor;
                color: @lightColor;
            }
        }
    }
}

.page-specials {
    .view-catalogue-list {
        text-align: center;

        li {
            margin: 0 50px;
            padding: 0;
            list-style: none;
            display: inline-block;

            a {
                margin: 20px 0;
                display: inline-block;
                padding: 10px 50px;
                text-transform: uppercase;
                text-decoration: none;
                text-align: center;
                border: 2px solid @primaryColour;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}

#logo {
    width: 220px;
    height: 61px;
    margin: 10px;
}


.region-header {
    #block-bean-duncans-facebook {
        .field-item {
            a {
                background-color: @lightColor !important;

                &:hover {
                    background-color: @primaryColour !important;
                }
            }
        }
    }
}

#footer {
    #block-bean-duncans-social-media {
        a {
            background-color: @lightColor !important;

            &:hover {
                background-color: @primaryColour !important;
            }
        }
    }
}

.pane-alm-store-locator-store-locator-home,
.pane-alm-store-locator-store-locator-default {
    h2.pane-title {
        color: @tertiaryColour !important;
    }
}

.page-store-locator-results {

    .pane-split-store-panel-pane-1 {
        background: @primaryColour;
    }


    .view-display-id-panel_pane_1 {
        .views-row {
            .views-field-field-geofield-distance {
                color: @secondaryColour;
            }
        }
    }

    .views-field-title {
        line-height: 1;
    }
}


.node-type-store {
    .sutro > .container-fluid > .row:first-child > .panel-panel > .panel-panel-inner {
        .field-name-take-me-there,
        .field-name-whats-on-in-store,
        .field-name-field-store-telephone {
            .field-item {
                a {
                    color: @secondaryColour;
                    border-color: @secondaryColour;
                }
            }
        }
    }

    .view-store-detail-map {
        .view-content {
            div.ip-geoloc-map {
                &:after {
                    background: @primaryColour;
                }
            }
        }
    }
}




#search-form {
    input[type=submit] {
        font-size: 18px;
    }
}


@media (max-width: @screen-sm-min) {
    #logo {
        width: 220px;
        height: 31px;
    }

    #search-form {
        input[type=submit] {
            padding-left: 0px !important;
            padding-right: 0px !important;
            width: 30px;
        }
    }
}

@media (min-width:990px) {


    #footer {

        #block-menu-block-2 {
            height: 94px;
            max-height: 94px;
            padding-bottom: 0px !important;


            li {
                margin-top: 50px;
                margin-right: 3%;
                padding-right: 3%;
                border-right: 1px solid @primaryColour;

                a {
                    float: none;
                    margin: 0px;
                    padding: 0px;
                    color: @primaryColour;
                }

                &:last-child {
                    padding-right: 0;
                    border-right: 0;
                }
            }

            &:after {
                left: 125px;
                top: 27px;
                width: 170px;
                height: 54px;
                background-position: 0 50%;
            }
        }

        #block-menu-block-2,
        #block-menu-block-3 {

            li {
                &:last-child {
                    margin-right: 20px;
                }
            }
        }

        .region {
            padding-top: 0;
            background: @tertiaryColour;
        }

        #block-bean-duncans-social-media {
            top: 125px;
            left: 130px;
        }

        #block-bean-duncans-copyright {
            color: @lightColor;
        }
    }
}
