/* Fonts */
@font-face {
    font-family: 'temp';
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'headings';
    src: url('fonts/Liberator/Liberator.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bodycopy';
    src: url('fonts/CenturyGothic/century_gothic.TTF');
    font-weight: normal;
    font-style: normal;
}

.heading-tag {
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 1;
}

.preheader-tag {
    font-size: 26px;
}

.taxonomy-sidebar-tag {
    font-size: 18px;
    letter-spacing: 1px;
}

.taxonomy-content-tag {
    font-size: 12px;
}

.module-headings-tag {
    font-size: 28px;
    line-height: 1;
}

.important-heading-tag {
    font-size: 28px !important;
}

.form-mandatory-tag {
    font-size: 14px;
    letter-spacing: 1px;
}

.generic-field-link-tag {
    font-size: 14px;
    line-height: 1;
    letter-spacing: 1px;
}

.header-field-link-tag {
    font-size: 18px;
    line-height: 26px;
}

.submit-search-tag {
    font-size: 16px;
}

.search-label-tag {
    font-size: 22px;
    letter-spacing: 1px;
}

.search-submit-2-tag {
    font-size: 12px;
    line-height: 21px;
}

.search-current-title-tag {
    font-size: 32px !important;
}

.search-excerpt-tag {
    font-size: 16px;
}

.search-pager-tag {
    font-size: 22px;
}

.store-locator-submit-tag {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1px;
}

.store-title-link-tag {
    font-size: 18px;
    letter-spacing: 1px;
}

.store-name-link-tag {
    font-size: 28px;
}

.store-name-first-link-tag {
    font-size: 36px;
}

.store-field-text-tag {
    font-size: 16px;
    letter-spacing: 1px;
}

.store-label-tag {
    font-size: 22px;
}

.store-label-important-tag {
    font-size: 14px !important;
}

.store-features-title-tag {
    font-size: 14px !important;
}

.store-icon-tag {
    font-size: 24px;
}

.standard-article-title-tag {
    font-size: 48px;
}

.standard-article-sub-title-tag {
    font-size: 28px !important;
}

.standard-article-name-tag {
    font-size: 22px;
}

.sidebar-heading-tag {
    font-size: 32px !important;
}

.sidebar-item-list-tag {
    font-size: 18px;
    letter-spacing: 1px;
}

.balloon-tag {
    font-size: 14px;
    line-height: 1;
}

.brands-listing-tag {
    font-size: 22px;
}

.generic-content-body-tag {
    font-size: 16px;
    line-height: 30px;
}

.pagenotfound-tag {
    font-size: 18px;
}

.form-title-tag {
    font-size: 64px !important;
    line-height: 1 !important;
}

.form-subtitle-tag {
    text-transform: uppercase;
    font-size: 32px;
}

.form-text-summary-tag {
    font-size: 18px;
}

.form-label-tag {
    font-size: 22px;
}

.form-error-tag {
    font-size: 18px;
}

.form-submit-tag {
    font-size: 18px;
    letter-spacing: 1px;
}

.banner-title-tag {
    line-height: 350px !important;
    font-size: 80px !important;
    letter-spacing: 1px;
}

.carousel-disclaimer-tag {
    font-size: 11px;
}

.main-menu-link-tag {
    font-size: 14px;
}

.main-menu-link-large-tag {
    font-size: 18px;
    line-height: 34px;
}

.footer-menu-block-tag {
    font-size: 16px;
}

.footer-menu-block-alt-tag {
    font-size: 14px;
}

.footer-menu-block-4-tag {
    font-size: 11px;
}

.store-locator-large-tag {
    font-size: 26px !important;
}

.store-locator-results-large-tag {
    font-size: 26px !important;
}

.autocomplete-tag {
    font-size: 12px;
}


.store-locator-submit-tag-home {
    font-size: 18px;
    line-height: normal;
}

.store-locator-submit-tag-home-mobile {
    font-size: 22px;
    line-height: normal;
}

.store-locator-submit-tag-search {
    font-size: 22px;
    line-height: normal;
    letter-spacing: 1px;
}

.store-locator-submit-tag-search-mobile {
    font-size: 20px;
    line-height: normal;
    letter-spacing: 1px;
}

.store-locator-submit-tag-search-result {
    font-size: 14px;
    line-height: normal;
    letter-spacing: 1px;
}

.store-locator-submit-tag-search-result-mobile {
    font-size: 14px;
    line-height: normal;
    letter-spacing: 1px;
}



.store-locator-submit-tag-home,
.store-locator-submit-tag-home-mobile,
.store-locator-submit-tag-search,
.store-locator-submit-tag-search-mobile,
.store-locator-submit-tag-search-result,
.store-locator-submit-tag-search-result-mobile {
    line-height: normal;
}


@import "../../less/core-styles.less";

/* Colour Pallette */
@primaryColour: #00703d;
@secondaryColour: #47aa42; /* #323941; */
@tertiaryColour: #000;
@darkColor: #666;
@lightColor: #f6f6f6;
@greyColorA: #efefef;
@greyColorB: #e6e6e6;
@textColor: #1c242b;

@gradientA: #47aa42;
@gradientB: #47aa42;

@headerColor: @secondaryColour;

@mainMenuBackgroundColor: @greyColorA;
@mainMenuForegroundColor: @tertiaryColour;
@mainMenuHoverColor: @primaryColour;

@darkBackground: @secondaryColour;
@darkForeground: @lightColor;
@lightBackground: @greyColorA;
@lightForeground: @primaryColour;

@footerTextColour: @lightColor;
/*@storeResultForeground: @primaryColour;*/

@mapBallonBackground: @secondaryColour;
@slideBackground: rgb(8,9,16);
@slideForeground: #fff;

@svgColour: @lightColor;


.colour-primary {
    background-color: @primaryColour;
    color: @lightColor;

    .panel-panel-inner {
        .field-item a {
            color: @lightColor;
            border: 2px solid @lightColor;
        }
    }
}

.colour-secondary {
    background-color: @secondaryColour;
    color: @lightColor;

    .panel-panel-inner {
        .field-item a {
            color: @lightColor;
            border: 2px solid @lightColor;
        }
    }
}

.colour-dark {
    background-color: @tertiaryColour;
    color: @lightColor;

    .panel-panel-inner {
        .field-item a {
            color: @lightColor;
            border: 2px solid @lightColor;
        }
    }
}

.colour-light {
    background-color: #f8f8f8;
    color: @tertiaryColour;

    .panel-panel-inner {
        .field-item a {
            color: @tertiaryColour;
            border: 2px solid @tertiaryColour;
        }
    }
}




.region-header {
    #block-bean-the-bottle-o-au-facebook {
        .field-item {
            a {
                background-color: @lightColor !important;

                &:hover {
                    background-color: @primaryColour !important;
                }
            }
        }
    }
}

#footer {
    #block-bean-the-bottle-o-au-social-media {
        a {
            background-color: @lightColor !important;

            &:hover {
                background-color: @primaryColour !important;
            }
        }
    }
}

.pane-alm-store-locator-store-locator-home,
.pane-alm-store-locator-store-locator-default {
    h2.pane-title {
        color: @tertiaryColour !important;
    }
}

.page-store-locator-results {
    .view-display-id-panel_pane_1 {
        .views-row-first {
            background-position: 65px 52px;
        }
    }

    .views-field-title {
        line-height: 1;
    }
}

.balloon {
    a {
        color: @secondaryColour;
    }
}

.view-carousel {
    .views-slideshow-cycle-main-frame-row-item {
        .field-name-field-call-to-action-link {
            .field-item a {
                border-color: @lightColor;
                color: @lightColor;
            }
        }
    }
}

.node-type-store {
    .sutro > .container-fluid > .row:first-child > .panel-panel > .panel-panel-inner {

        .field-name-take-me-there,
        .field-name-whats-on-in-store {
            .field-item {
                a {
                    border: 2px solid @lightColor;
                    color: @lightColor;
                }
            }
        }

        .views-field-field-store-shortname,
        .views-field-title {
            h1 {
                line-height: 1.25 !important;
                border-color: @lightColor;
            }
        }

        .views-field-field-geofield-distance {
            padding-top: 5px;
        }
    }
}

.page-store-locator {

    .pane-alm-store-locator-store-locator-home,
    .pane-alm-store-locator-store-locator-default {
        input#edit-submit {
            color: @lightColor;
            background: @primaryColour;
        }
    }
}

#footer {
    #block-bean-the-bottle-o-copyright {
        color: @lightColor;
    }
}

.not-logged-in {
    input#edit-keys,
    input#edit-location,
    input#edit-submit {
        height: 50px !important;
        line-height: 50px !important;
    }

    #search-form label {
        line-height: 50px !important;
    }
}


.pane-alm-store-locator-store-locator-home {
    top: 150px;
}



@media (max-width: @screen-sm-min) {
    /* Store Locator*/
    .pane-alm-store-locator-store-locator-home,
    .pane-alm-store-locator-store-locator-default {
        input#edit-location {
            width: 60%;
        }
    }
}


@media (min-width: @screen-sm-min) {

    #logo {
        width: 150px;
    }

    /* Store Page*/
    .node-type-store {

        .sutro > .container-fluid > .row:first-child > .panel-panel > .panel-panel-inner {
            .views-field-title,
            .views-field-field-store-shortname,
            .views-field-title {
                max-width: 35%;
            }
        }
    }
}

@media (min-width: 990px) {

    #footer {

        #block-menu-block-2 {
            height: 101px;
            max-height: 101px;
            padding-bottom: 0px !important;

            li {
                margin-top: 45px;
                margin-right: 3%;
                padding-right: 3%;

                &:last-child {
                    padding-right: 0;
                    border-right: 0;
                }
            }

            &:after {
                top: 30px;
                left: 125px;
                width: 128px;
                height: 60px;
                /*height: 100px;
                background-position: 0 50%;*/
            }
        }

        #block-menu-block-2,
        #block-menu-block-3 {

            li {
                &:last-child {
                    margin-right: 50px;
                }
            }
        }

        #block-bean-the-bottle-o-au-social-media {
            left: 125px;
        }

        .region {
            padding-top: 0;
        }
    }

    .page-store-locator-results {
        .pane-alm-store-locator-store-locator-home {
            .pane-title {
                padding-top: 10px;
            }
        }
    }
}


