@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');
@import url('fonts/Liberator-font/stylesheet.css');
@import url('fonts/Tungsten-font/stylesheet.css');
@import url('fonts/Arial-font/stylesheet.css');



article[about$="/ta_ku"] form.webform-client-form .webform-component-postal-code,
article[about$="/jimbeam"] form.webform-client-form .webform-component-postal-code {
    float: left;
    margin-right: 20px;
}
article[about$="/ta_ku"] form.webform-client-form .webform-component-postal-code input,
article[about$="/jimbeam"] form.webform-client-form .webform-component-postal-code input {
    width: 120px;
}
article[about$="/ta_ku"] form.webform-client-form .webform-component--state,
article[about$="/jimbeam"] form.webform-client-form .webform-component--state {
    float: left;
}
article[about$="/ta_ku"] form.webform-client-form .webform-component--term-and-conditions,
article[about$="/jimbeam"] form.webform-client-form .webform-component--term-and-conditions {
    clear: both;
}
article[about$="/ta_ku"] form.webform-client-form .webform-component--full-name,
article[about$="/jimbeam"] form.webform-client-form .webform-component--full-name {
    width: 50%;
}
article[about$="/ta_ku"] form.webform-client-form .webform-component--email,
article[about$="/jimbeam"] form.webform-client-form .webform-component--email {
    width: 60%;
}
article[about$="/ta_ku"] form.webform-client-form .form-item .form-text,
article[about$="/ta_ku"] form.webform-client-form .form-item select,

article[about$="/jimbeam"] form.webform-client-form .form-item .form-text,
article[about$="/jimbeam"] form.webform-client-form .form-item select {
    font-size: 17px;
}
@media (max-width: 991px) {
    article[about$="/ta_ku"] form.webform-client-form .webform-component--full-name,
    article[about$="/ta_ku"] form.webform-client-form .webform-component--email,

    article[about$="/jimbeam"] form.webform-client-form .webform-component--full-name,
    article[about$="/jimbeam"] form.webform-client-form .webform-component--email {
        width: 96%;
        padding-right: 0;
    }
}
@media (max-width: 480px) {
    article[about$="/ta_ku"] form.webform-client-form .webform-component-postal-code input,
    article[about$="/jimbeam"] form.webform-client-form .webform-component-postal-code input {
        width: 96%;
    }
}