/* ---------- Color Module Styles ----------- */

body,
body.overlay {
    color: #3b3b3b;
}

.comment .comment-arrow {
    border-color: #ffffff;
}

#page,
#main-wrapper {
    background-image: url("");
}

#main-menu-links a {
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: none;
}

#main-menu-links li a.active,
#main-menu-links li.active-trail a {
    background: #fbb43d;
}

.tabs ul.primary li a.active {
    background-color: #ffffff;
}

.tabs ul.primary li.active a {
    background-color: #ffffff;
    border-bottom: 1px solid #ffffff;
}

#header {

}

a {
    color: #cd9534;
}

a:hover,
a:focus {
    color: #cd9534;
    text-decoration: underline;
}

a:active {
    color: #cd9534;
}

.sidebar .block {
    background-color: #e3e3e3;
    border-color: #5c6063;
}

html {
    background: #dedede;
}

.region-header,
.region-header a,
.region-header li a.active,
#name-and-slogan,
#name-and-slogan a,
#secondary-menu-links li a {
    color: #fffeff;
}
