/* Fonts */
@font-face {
    font-family: 'temp';
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'headings';
    src: url('fonts/Tungsten/TungstenNarrow-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'book';
    src: url('fonts/Tungsten/Tungsten-Book.otf');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'bodycopy';
    src: url('fonts/UniversaLTStd/UniversLTStd-Light.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bodybold';
    src: url('fonts/UniversaLTStd/UniversLTStd-Bold.otf');
    font-weight: normal;
    font-style: normal;
}

.heading-tag {
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 1;
}

.preheader-tag {
    font-size: 26px;
}

.taxonomy-sidebar-tag {
    font-size: 18px;
    letter-spacing: 1px;
}

.taxonomy-content-tag {
    font-size: 12px;
}

.module-headings-tag {
    font-size: 46px;
    line-height: 1;
}

.important-heading-tag {
    font-size: 46px !important;
}

.form-mandatory-tag {
    font-size: 14px;
    letter-spacing: 1px;
}

.generic-field-link-tag {
    font-size: 18px;
    line-height: 1;
    letter-spacing: 1px;
}

.header-field-link-tag {
    font-size: 26px;
}

.submit-search-tag {
    font-size: 16px;
}

.search-label-tag {
    font-size: 22px;
    letter-spacing: 1px;
}

.search-submit-2-tag {
    font-size: 18px;
    line-height: 21px;
}

.search-current-title-tag {
    font-size: 32px !important;
}

.search-excerpt-tag {
    font-size: 16px;
}

.search-pager-tag {
    font-size: 22px;
}

.store-locator-submit-tag-home {
    font-size: 22px;
    line-height: normal;
}

.store-locator-submit-tag-home-mobile {
    font-size: 22px;
    line-height: normal;
}

.store-locator-submit-tag-search {
    font-size: 28px;
    line-height: normal;
    letter-spacing: 1px;
}

.store-locator-submit-tag-search-mobile {
    font-size: 28px;
    line-height: normal;
    letter-spacing: 1px;
}

.store-locator-submit-tag-search-result {
    font-size: 24px;
    line-height: normal;
    letter-spacing: 1px;
}

.store-locator-submit-tag-search-result-mobile {
    font-size: 24px;
    line-height: normal;
    letter-spacing: 1px;
}




/*.store-locator-submit-tag {
    font-size: 28px;
    letter-spacing: 1px;
}

.store-locator-submit-tag-mobile {
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 21px;
}

.store-locator-result-submit-tag {
    font-size: 24px;
    line-height: 20px;
    letter-spacing: 1px;
}*/

.store-locator-result-tag {
    font-size: 20pt;
}

.store-title-link-tag {
    /*font-size: 18px;*/
    letter-spacing: 1px;
}

.store-name-link-tag {
    font-size: 32pt;
    line-height: 0.6;
}

.store-name-first-link-tag {
    font-size: 35pt;
    line-height: 0.7;
}

.store-field-text-tag {
    /*font-size: 16px;*/
    letter-spacing: 1px;
}

.store-label-tag {
    font-size: 22px;
}

.store-label-important-tag {
    font-size: 22px !important;
}

.store-features-title-tag {
    font-size: 24px !important;
}

.store-icon-tag {
    font-size: 24px;
}

.standard-article-title-tag {
    font-size: 48px;
    line-height: .7;
}

.standard-article-sub-title-tag {
    font-size: 28px !important;
}

.standard-article-name-tag {
    font-size: 32px !important;
    line-height: .7 !important;
}

.sidebar-heading-tag {
    font-size: 32px !important;
}

.sidebar-item-list-tag {
    font-size: 18px;
    letter-spacing: 1px;
}

.sidebar-blog-item-list-tag {
    font-size: 14px;
    letter-spacing: 1px;
}

.balloon-tag {
    font-size: 14px;
    line-height: 1;
}

/*.balloon-store-tag {
    font-size: 12px;
    line-height: 1;
}*/

.brands-listing-tag {
    font-size: 22px;
}

.generic-content-body-tag {
    font-size: 16px;
    line-height: 30px;
}

.pagenotfound-tag {
    font-size: 18px;
}

.form-title-tag {
    font-size: 64px !important;
    line-height: 1 !important;
}

.form-subtitle-tag {
    text-transform: uppercase;
    font-size: 32px;
}

.form-text-summary-tag {
    font-size: 18px;
}

.form-label-tag {
    font-size: 22px;
}

.form-error-tag {
    font-size: 18px;
}

.form-submit-tag {
    font-size: 18px;
    letter-spacing: 1px;
}

.banner-title-tag {
    line-height: 350px !important;
    font-size: 80px !important;
    letter-spacing: 1px;
}

.carousel-disclaimer-tag {
    font-size: 11px;
}

.main-menu-link-tag {
    font-size: 14px;
}

.main-menu-link-large-tag {
    font-size: 26px;
}

.footer-menu-block-tag {
    font-size: 22px;
}

.footer-menu-block-alt-tag {
    font-size: 18px;
}

.footer-menu-block-4-tag {
    font-size: 11px;
}

.store-locator-large-tag {
    font-size: 96px !important;
}

.store-locator-results-large-tag {
    font-size: 48px !important;
}

.store-trading-hours {
    font-size: 12pt;
}

.autocomplete-tag {
    font-size: 12px;
}

.back-link-tag {
    font-size: 24px;
    letter-spacing: 0;
}

@import "../../less/core-styles.less";

@storeHairlineColor: #323940;
@storeDivider: #fff;

/*
@darkBackground: e9e9e9;
@darkForeground:@secondaryColour;

@lightBackground: #f8f8f8;
@darkForeground:@secondaryColour;
@lightForeground:@lightColor;
*/



.page-store-locator-results {
    .view-content > .item-list {
        height: 570px;
        overflow-y: scroll;
      }
    .pane-alm-store-locator-store-locator-home {
        h2.pane-title {
            font-family: headings;
        }
    }
}

.view-carousel .views-slideshow-cycle-main-frame-row-item {
    .colour-dark {
        .group-module-overlay {
            color: @darkColor;

            .field-name-field-call-to-action-link {
                .field-item a {
                    border-color: @darkColor;
                    color: @darkColor;
                }
            }
        }
    }
}

.colour-primary {
    background-color: @primaryColour;
    color: @lightColor;

    .panel-panel-inner {
        .field-item a {
            color: @darkForeground;
            border: 2px solid @lightColor;
        }
    }
}

.colour-secondary {
    background-color: @secondaryColour;
    color: @lightColor;

    .panel-panel-inner {
        .field-item a {
            color: @lightColor;
            border: 2px solid @lightColor;
        }
    }
}

.colour-dark {
    background-color: #e9e9e9;
    color: @secondaryColour;

    .panel-panel-inner {
        .field-item a {
            color: @secondaryColour;
            border: 2px solid @secondaryColour;
        }
    }
}

.colour-light {
    background-color: #f8f8f8;
    color: @secondaryColour;

    .panel-panel-inner {
        .field-item a {
            color: @secondaryColour;
            border: 2px solid @secondaryColour;
        }
    }
}





/*.colour-dark {
    color: @lightColor;

    .panel-panel-inner {
        .field-item a {
            color: @lightColor;
            border: 2px solid @lightColor;
        }
    }
}*/

/*
.row-who-we-are {
    .colour-dark {
        color: @lightColor;
        .panel-panel-inner {
            .field-item a {
                color: @lightColor;
                border: 2px solid @lightColor;
            }
        }
    }
}*/


/*.node-type-store {
    .sutro > .container-fluid > .row:first-child > .panel-panel > .panel-panel-inner {
        .field-name-field-store-trading-hours {
            font-family: bodybold;
        }
    }
}*/

