@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');
@import url('fonts/Liberator-font/stylesheet.css');
@import url('fonts/Tungsten-font/stylesheet.css');
@import url('fonts/Arial-font/stylesheet.css');

#footer #block-menu-block-2 {
    position: relative;
}
.one-sidebar .sidebar .region-sidebar-second {
    background-color: #19242c;
    padding: 50px;
}
.one-sidebar .sidebar .block {
    background-color: #19242c;
    font-family: 'headings',Sans-Serif;
    border: none;
    font-size: 20px;
    padding: 0;
}
.one-sidebar .sidebar .block-views ~ .block-views {
    margin-top: 100px;
}
.node-type-webform #main {
    background-color: #f6f6f6;
}

.one-sidebar .sidebar .block ul {
    list-style: none;
    padding-left: 0;
}
.one-sidebar .sidebar .block ul li {
    display: inline-block;
}
.one-sidebar .sidebar .block ul li a {
    text-transform: uppercase;
}
.one-sidebar .sidebar h2 {
    border-bottom: none;
    text-shadow: none;
    color: #fff;
    font-size: 30px;
}

.one-sidebar .sidebar .section {
    padding-right: 0;
    padding-left: 0;
    padding-top: 0;
}

.node-type-webform .webform-client-form {
    padding: 0 50px;
    margin-bottom: 50px;
}
.custom-block {
    padding: 0 50px;
    margin: 0 -15px;
    overflow: hidden;
    margin-bottom: 50px;
}
.custom-block >* {
    width: 45%;
    display: inline-block;
    float: left;
    padding: 0 15px;
}
.group-inner {
    font-size: 18px;
    font-family: Arial;
    font-size: 20px;
    line-height: 1.55;
    text-align: left;
    color: #19242c;
}
.custom-block .experience-strong, .description-custom {
    margin-bottom: 0;
}
.custom-block .decription-text {
    font-family: 'arialregular';
}
.description-custom {
    font-size: 20px;
    font-family: Arial;
    font-size: 20px;
    line-height: 1.55;
    text-align: left;
    color: #19242c;
}
.description-custom ul {
    color: #31393f;
    padding-left: 40px;
    margin-top: 0;
}
.description-custom img {
    margin-bottom: 20px;
}
.node-type-webform .webform-client-form .form-text, .node-type-webform .webform-client-form .form-select {
    height: 65px;
    /*width: 665px;*/
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    border-color: #c5cbd4;
    border-radius: 5px!important;
    background-color: #fff;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;
    color: #abb2bc;
  
    font-family: 'arialregular';

    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: inset 1px 1px 3px 0 #ccd1d9;
    border: solid 1px #ccd1d9;
    height: 55px;
}
.node-type-webform .webform-client-form .form-textarea {
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: inset 1px 1px 3px 0 #ccd1d9;
    border: solid 1px #ccd1d9;
    /*height: 55px;*/
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;
    color: #abb2bc;
    font-family: 'arialregular';
}
.node-type-webform .webform-client-form .form-select {
    /*width: 200px;*/
    color: #abb2bc;;
}

.webform-component--email {
    padding-right: 35px;
}

.webform-component--state {
    width: 27%;
    float: right;
    margin-top: 5px;
}
.node-type-webform .webform-client-form .webform-component--contact-number {
    width: 67%;
    float: left;
}
.node-type-webform .webform-client-form .webform-component--contact-number input {
    width: 100%;
}

.node-type-webform .webform-client-form .webform-component--note {
    font-family: 'arialregular';
    font-size: 13px;
}

/* --------------------- placeholder ----------------------- */
.node-type-webform .webform-client-form input::-webkit-input-placeholder,
.node-type-webform .webform-client-form .form-textarea::-webkit-input-placeholder {
    color: #abb2bc;
}

.node-type-webform .webform-client-form input:-moz-placeholder,
.node-type-webform .webform-client-form .form-textarea:-moz-placeholder {
    /* older Firefox*/
    color: #abb2bc;
}

.node-type-webform .webform-client-form input::-moz-placeholder,
.node-type-webform .webform-client-form .form-textarea::-moz-placeholder {
    /* Firefox 19+ */
    color: #abb2bc;
}

.node-type-webform .webform-client-form input:-ms-input-placeholder,
.node-type-webform .webform-client-form .form-textarea:-ms-input-placeholder {
    color: #abb2bc;
}

.node-type-webform .webform-client-form input:-moz-placeholder,
.node-type-webform .webform-client-form .form-textarea:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #abb2bc;
    opacity: 1;
}

.node-type-webform .webform-client-form input::-moz-placeholder,
.node-type-webform .webform-client-form .form-textarea::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #abb2bc;
    opacity: 1;
}
/* --------------------------------------------------------- */

.node-type-webform .webform-client-form .form-checkbox {
    zoom: 1.5;
    -moz-transform: scale(1.5);
}
.node-type-webform .webform-client-form textarea {
    border-color: #c5cbd4;
    border-radius: 5px;
}

.node-type-webform .webform-client-form .webform-component--full-name {
    /*width: 510px;*/
    padding-right: 35px;
}

.node-type-webform .webform-client-form .form-item label {
    display: none;
}

.node-type-webform .webform-client-form .form-type-checkbox label {
    display: inline-block;
    font-size: 15px;

    font-family: Arial;
    font-size: 16px;
    line-height: 0.94;
    text-align: left;
    color: #19242c;
} 
.node-type-webform .webform-client-form .webform-component--drifter-by-clicking-submit a,
.node-type-webform .webform-client-form .webform-component--by-clicking-submit a {
    color: #9fa2a5;
    font-style: italic;
    text-decoration: underline;
}

.node-type-webform .webform-client-form .webform-component-checkboxes,
.node-type-webform .webform-client-form .webform-component--by-clicking-submit {
    /*opacity: 0.7;*/
    font-family: Arial;
    font-size: 13px;
    /*font-style: italic;*/
    line-height: 2.15;
    text-align: left;
    color: #1c2429;
}
.node-type-webform .webform-client-form .webform-component-checkboxes label.option a,
.node-type-webform .webform-client-form .webform-component--by-clicking-submit label.option a {
    color: #1c2429;
    text-decoration: underline;
}

.node-type-webform .webform-client-form .webform-component-checkboxes label.option a:hover,
.node-type-webform .webform-client-form .webform-component--by-clicking-submit label.option a:hover {
    text-decoration: none;
}
.node-type-webform .webform-client-form .form-submit {
    border-radius: 0;
    background-color: transparent;
    border: 2px solid #000;
    font-size: 15px;
    text-transform: uppercase;
    padding: 10px 40px;
    background-image: none;
    width: 225px;
    text-align: center;
}
.node-type-webform .webform-client-form h3 {
    font-family: 'Tungsten';
    font-size: 38px;
    font-weight: 500;
    line-height: 1.11;
    text-align: left;
    color: #000000;
}

.node-type-webform .webform-client-form .description-custom p {
    font-size: 20px;
    margin-bottom: 10px;
}

.node-type-webform .webform-client-form .description-custom p:last-child a {
    color: #19242c;
    text-decoration: underline;
}
.node-type-webform .webform-client-form .description-custom p:last-child a:hover {
    text-decoration: none;
}

.node-type-webform #footer-wrapper #block-menu-block-2:after {
    top: 0;
    left: 0;
}

#drifter-success-form .success-submision-form {
    text-align: center;
    font-size: 30px;
    padding-top: 40px;

}
#drifter-success-form .success-submision-form ~ #edit-submit {
    margin: auto;
    display: block;
}
/*......nsm........*/
.node-type-webform .webform-client-form .form-item-first-name .form-textm-first-name .form-text{
    /*color: #cbd1d9;*/
    font-weight: 400;
}

.custom-block-content {
    padding: 0 50px;
    font-family: Arial;
    font-size: 20px;
    line-height: 1.55;
    text-align: left;
    color: #19242c;
    margin-bottom: 50px;
}
.custom-block-content p {
    margin-bottom: 5px;
}



@media(max-width: 991px){
    .node-type-webform .webform-client-form{
        padding: 0 25px !important;
    }
    .one-sidebar .sidebar .region-sidebar-second{
        padding: 25px !important;
    }
    .node-type-webform .webform-client-form .webform-component--drifter-by-clicking-submit {
        position: static;
    }
    .node-type-webform .webform-client-form .webform-component--contact-number {
        width: auto;
    }
    .webform-component--state {
        width: 100%;
    }
    .node-type-webform .webform-client-form .webform-component--contact-number {
        padding-right: 35px;
    }
    .custom-block, .custom-block-content {
        padding: 0 25px;
    }

}
@media (max-width: 767px){
    .one-sidebar .sidebar .block-views ~ .block-views{
        margin-top: 20px !important;
    }
    #footer .region{
        padding-bottom: 65px !important;
    }
    .node-type-webform .webform-client-form h3{
        font-size: 30px !important;
        width: 100% !important;
    }
    .node-type-webform .webform-client-form .form-text{
        /*width: -webkit-fill-available;*/
    }
    .node-type-webform .webform-client-form .form-select{
        width: -webkit-fill-available;
    }
    .node-type-webform .webform-client-form .form-item-first-name .form-text{
        width: -webkit-fill-available;
    }
    .node-type-webform .webform-client-form .webform-component--full-name {
        padding-right: 35px;
    }
    .node-type-webform .webform-client-form .webform-component--full-name .form-text {
        width: 100%;
    }
    .custom-block >* {
        width: 100%;
    }
    .custom-block .image {
        float: none;
        padding: 0;
    }
    .group-inner {
        padding: 0;
    }
}

@media (max-width: 480px){
    #block-menu-block-2 > .content, 
    #block-menu-block-3 > .content, 
    #block-menu-block-4 > .content{
        padding-left: 0 !important;
    }
    .node-type-webform .webform-client-form h3{
        font-size: 25px !important;
    }
    .node-type-webform .webform-client-form .form-text,
    .node-type-webform .webform-client-form .form-select {
        font-size: 16px !important;
        height: 45px !important;
    }
    .node-type-webform .webform-client-form .form-textarea {
        font-size: 16px !important;
    }
    .node-type-webform .webform-client-form .form-item-first-name .form-text{
        font-size: 16px !important;
        height: 45px !important;
    }
}

.italic{
  font-style: italic;
  font-size: 18px;
}

.page-node-3309.one-sidebar .sidebar .region-sidebar-second,
.page-node-3309.one-sidebar .sidebar .block, 
.page-node-3344.one-sidebar .sidebar .region-sidebar-second,
.page-node-3344.one-sidebar .sidebar .block,
.page-node-3365.one-sidebar .sidebar .region-sidebar-second,
.page-node-3365.one-sidebar .sidebar .block  {
    background-color: #3fa03a;
}
.page-node-3309.one-sidebar .sidebar .block ul li *,
.page-node-3344.one-sidebar .sidebar .block ul li *,
.page-node-3365.one-sidebar .sidebar .block ul li * {
    color: #fff;
}
.page-node-3309.one-sidebar .webform-client-form h3,
.page-node-3344.one-sidebar .webform-client-form h3,
.page-node-3365.one-sidebar .webform-client-form h3 {
    font-family: 'liberatorheavy';
}

@media (min-width: 990px) {
    .page-node-3309.one-sidebar #footer .region,
    .page-node-3344.one-sidebar #footer .region,
    .page-node-3365.one-sidebar #footer .region {
        padding-top: 15px;
    }
}

article[about$="/ta_ku"] form.webform-client-form .webform-component-postal-code,
article[about$="/jimbeam"] form.webform-client-form .webform-component-postal-code {
    float: left;
    margin-right: 20px;
}
article[about$="/ta_ku"] form.webform-client-form .webform-component-postal-code input,
article[about$="/jimbeam"] form.webform-client-form .webform-component-postal-code input {
    width: 120px;
}
article[about$="/ta_ku"] form.webform-client-form .webform-component--state,
article[about$="/jimbeam"] form.webform-client-form .webform-component--state {
    float: left;
}
article[about$="/ta_ku"] form.webform-client-form .webform-component--term-and-conditions,
article[about$="/jimbeam"] form.webform-client-form .webform-component--term-and-conditions {
    clear: both;
}
article[about$="/ta_ku"] form.webform-client-form .webform-component--full-name,
article[about$="/jimbeam"] form.webform-client-form .webform-component--full-name {
    width: 50%;
}
article[about$="/ta_ku"] form.webform-client-form .webform-component--email,
article[about$="/jimbeam"] form.webform-client-form .webform-component--email {
    width: 60%;
}
article[about$="/ta_ku"] form.webform-client-form .form-item .form-text,
article[about$="/ta_ku"] form.webform-client-form .form-item select,

article[about$="/jimbeam"] form.webform-client-form .form-item .form-text,
article[about$="/jimbeam"] form.webform-client-form .form-item select {
    font-size: 17px;
}
@media (max-width: 991px) {
    article[about$="/ta_ku"] form.webform-client-form .webform-component--full-name,
    article[about$="/ta_ku"] form.webform-client-form .webform-component--email,

    article[about$="/jimbeam"] form.webform-client-form .webform-component--full-name,
    article[about$="/jimbeam"] form.webform-client-form .webform-component--email {
        width: 96%;
        padding-right: 0;
    }
}
@media (max-width: 480px) {
    article[about$="/ta_ku"] form.webform-client-form .webform-component-postal-code input,
    article[about$="/jimbeam"] form.webform-client-form .webform-component-postal-code input {
        width: 96%;
    }
}

/*04/01/2018 two new webforms*/
.page-node-3357 form.webform-client-form .form-item input,
.page-node-3355 form.webform-client-form .form-item input,
.page-node-3541 form.webform-client-form .form-item input,
.page-node-3543 form.webform-client-form .form-item input, {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
}
.page-node-3541 form.webform-client-form .webform-component--full-name,
.page-node-3543 form.webform-client-form .webform-component--full-name,
.page-node-3357 form.webform-client-form .webform-component--full-name,
.page-node-3355 form.webform-client-form .webform-component--full-name {
    width: 50%;
}
.page-node-3541 form.webform-client-form .webform-component--email,
.page-node-3543 form.webform-client-form .webform-component--email,
.page-node-3357 form.webform-client-form .webform-component--email,
.page-node-3355 form.webform-client-form .webform-component--email {
    width: 60%;
}

.page-node-3357 form.webform-client-form .webform-component--post-code,
.page-node-3355 form.webform-client-form .webform-component--post-code,
.page-node-3541 form.webform-client-form .webform-component--post-code,
.page-node-3543 form.webform-client-form .webform-component--post-code {
    /*padding-right: 35px;*/
    width: 160px;
    display: inline-block;
}
.page-node-3357 form.webform-client-form .webform-component--state,
.page-node-3355 form.webform-client-form .webform-component--state,
.page-node-3541 form.webform-client-form .webform-component--state,
.page-node-3543 form.webform-client-form .webform-component--state {
    float: none;
    display: inline-block;
    margin-left: 50px;
}

@media (max-width: 991px) {
    .page-node-3357 form.webform-client-form .webform-component--state,
    .page-node-3355 form.webform-client-form .webform-component--state,
    .page-node-3541 form.webform-client-form .webform-component--state,
    .page-node-3543 form.webform-client-form .webform-component--state {
        width: auto;
    }

    .page-node-3541 form.webform-client-form .webform-component--full-name,
    .page-node-3543 form.webform-client-form .webform-component--full-name,
    .page-node-3357 form.webform-client-form .webform-component--full-name,
    .page-node-3543 form.webform-client-form .webform-component--full-name {
        width: auto;
    }
    .page-node-3541 form.webform-client-form .webform-component--full-name,
    .page-node-3543 form.webform-client-form .webform-component--full-name,
    .page-node-3357 form.webform-client-form .webform-component--full-name,
    .page-node-3355 form.webform-client-form .webform-component--full-name {
        width: auto;
    }
    .page-node-3541 form.webform-client-form .webform-component--email,
    .page-node-3543 form.webform-client-form .webform-component--email,
    .page-node-3357 form.webform-client-form .webform-component--email,
    .page-node-3355 form.webform-client-form .webform-component--email {
        width: auto;
    }
}

@media (max-width: 640px) {
    .page-node-3541 form.webform-client-form .webform-component--full-name,
    .page-node-3543 form.webform-client-form .webform-component--full-name,
    .page-node-3357 form.webform-client-form .webform-component--full-name,
    .page-node-3355 form.webform-client-form .webform-component--full-name {
        width: auto;
    }
}

@media (max-width: 480px) {
    .page-node-3357 form.webform-client-form .webform-component-postal-code,
    .page-node-3355 form.webform-client-form .webform-component-postal-code,
    .page-node-3541 form.webform-client-form .webform-component-postal-code,
    .page-node-3543 form.webform-client-form .webform-component-postal-code {
        width: auto;
        padding-right: 35px;
    }

    .page-node-3357 form.webform-client-form .webform-component--state,
    .page-node-3355 form.webform-client-form .webform-component--state,
    .page-node-3541 form.webform-client-form .webform-component--state,
    .page-node-3543 form.webform-client-form .webform-component--state {
        margin-left: 0;
    }
}

