@font-face {
  font-family: 'universal';
  src: url('fonts/UniversaLTStd/UniversLTStd-Light.otf');
  font-weight: normal;
  font-style: normal;
}
.page-admin .main-wrapper .field-item a,
.page-block .main-wrapper .field-item a,
.page-user .main-wrapper .field-item a,
.page-node-edit .main-wrapper .field-item a,
.page-node-add .main-wrapper .field-item a,
.page-node-webform .main-wrapper .field-item a,
.page-node-webform-results .main-wrapper .field-item a,
.page-node-submission .main-wrapper .field-item a,
.page-node-panelizer .main-wrapper .field-item a,
.page-node-clone .main-wrapper .field-item a,
.page-taxonomy-term-edit .main-wrapper .field-item a,
.page-taxonomy-term-add .main-wrapper .field-item a,
.page-import .main-wrapper .field-item a,
.page-batch .main-wrapper .field-item a,
#modal-content .main-wrapper .field-item a,
#media-browser-page .main-wrapper .field-item a,
#media-browser .main-wrapper .field-item a,
#ctools-node-content-type-edit-form .main-wrapper .field-item a,
.page-admin h2.pane-title,
.page-block h2.pane-title,
.page-user h2.pane-title,
.page-node-edit h2.pane-title,
.page-node-add h2.pane-title,
.page-node-webform h2.pane-title,
.page-node-webform-results h2.pane-title,
.page-node-submission h2.pane-title,
.page-node-panelizer h2.pane-title,
.page-node-clone h2.pane-title,
.page-taxonomy-term-edit h2.pane-title,
.page-taxonomy-term-add h2.pane-title,
.page-import h2.pane-title,
.page-batch h2.pane-title,
#modal-content h2.pane-title,
#media-browser-page h2.pane-title,
#media-browser h2.pane-title,
#ctools-node-content-type-edit-form h2.pane-title,
.page-admin .pane-alm-store-locator-store-locator-home input#edit-submit,
.page-block .pane-alm-store-locator-store-locator-home input#edit-submit,
.page-user .pane-alm-store-locator-store-locator-home input#edit-submit,
.page-node-edit .pane-alm-store-locator-store-locator-home input#edit-submit,
.page-node-add .pane-alm-store-locator-store-locator-home input#edit-submit,
.page-node-webform .pane-alm-store-locator-store-locator-home input#edit-submit,
.page-node-webform-results .pane-alm-store-locator-store-locator-home input#edit-submit,
.page-node-submission .pane-alm-store-locator-store-locator-home input#edit-submit,
.page-node-panelizer .pane-alm-store-locator-store-locator-home input#edit-submit,
.page-node-clone .pane-alm-store-locator-store-locator-home input#edit-submit,
.page-taxonomy-term-edit .pane-alm-store-locator-store-locator-home input#edit-submit,
.page-taxonomy-term-add .pane-alm-store-locator-store-locator-home input#edit-submit,
.page-import .pane-alm-store-locator-store-locator-home input#edit-submit,
.page-batch .pane-alm-store-locator-store-locator-home input#edit-submit,
#modal-content .pane-alm-store-locator-store-locator-home input#edit-submit,
#media-browser-page .pane-alm-store-locator-store-locator-home input#edit-submit,
#media-browser .pane-alm-store-locator-store-locator-home input#edit-submit,
#ctools-node-content-type-edit-form .pane-alm-store-locator-store-locator-home input#edit-submit,
.page-admin .pane-alm-store-locator-store-locator-default input#edit-submit,
.page-block .pane-alm-store-locator-store-locator-default input#edit-submit,
.page-user .pane-alm-store-locator-store-locator-default input#edit-submit,
.page-node-edit .pane-alm-store-locator-store-locator-default input#edit-submit,
.page-node-add .pane-alm-store-locator-store-locator-default input#edit-submit,
.page-node-webform .pane-alm-store-locator-store-locator-default input#edit-submit,
.page-node-webform-results .pane-alm-store-locator-store-locator-default input#edit-submit,
.page-node-submission .pane-alm-store-locator-store-locator-default input#edit-submit,
.page-node-panelizer .pane-alm-store-locator-store-locator-default input#edit-submit,
.page-node-clone .pane-alm-store-locator-store-locator-default input#edit-submit,
.page-taxonomy-term-edit .pane-alm-store-locator-store-locator-default input#edit-submit,
.page-taxonomy-term-add .pane-alm-store-locator-store-locator-default input#edit-submit,
.page-import .pane-alm-store-locator-store-locator-default input#edit-submit,
.page-batch .pane-alm-store-locator-store-locator-default input#edit-submit,
#modal-content .pane-alm-store-locator-store-locator-default input#edit-submit,
#media-browser-page .pane-alm-store-locator-store-locator-default input#edit-submit,
#media-browser .pane-alm-store-locator-store-locator-default input#edit-submit,
#ctools-node-content-type-edit-form .pane-alm-store-locator-store-locator-default input#edit-submit,
.page-admin .page-store-locator-results a,
.page-block .page-store-locator-results a,
.page-user .page-store-locator-results a,
.page-node-edit .page-store-locator-results a,
.page-node-add .page-store-locator-results a,
.page-node-webform .page-store-locator-results a,
.page-node-webform-results .page-store-locator-results a,
.page-node-submission .page-store-locator-results a,
.page-node-panelizer .page-store-locator-results a,
.page-node-clone .page-store-locator-results a,
.page-taxonomy-term-edit .page-store-locator-results a,
.page-taxonomy-term-add .page-store-locator-results a,
.page-import .page-store-locator-results a,
.page-batch .page-store-locator-results a,
#modal-content .page-store-locator-results a,
#media-browser-page .page-store-locator-results a,
#media-browser .page-store-locator-results a,
#ctools-node-content-type-edit-form .page-store-locator-results a,
.page-admin ul.contextual-links,
.page-block ul.contextual-links,
.page-user ul.contextual-links,
.page-node-edit ul.contextual-links,
.page-node-add ul.contextual-links,
.page-node-webform ul.contextual-links,
.page-node-webform-results ul.contextual-links,
.page-node-submission ul.contextual-links,
.page-node-panelizer ul.contextual-links,
.page-node-clone ul.contextual-links,
.page-taxonomy-term-edit ul.contextual-links,
.page-taxonomy-term-add ul.contextual-links,
.page-import ul.contextual-links,
.page-batch ul.contextual-links,
#modal-content ul.contextual-links,
#media-browser-page ul.contextual-links,
#media-browser ul.contextual-links,
#ctools-node-content-type-edit-form ul.contextual-links,
.page-admin .pager,
.page-block .pager,
.page-user .pager,
.page-node-edit .pager,
.page-node-add .pager,
.page-node-webform .pager,
.page-node-webform-results .pager,
.page-node-submission .pager,
.page-node-panelizer .pager,
.page-node-clone .pager,
.page-taxonomy-term-edit .pager,
.page-taxonomy-term-add .pager,
.page-import .pager,
.page-batch .pager,
#modal-content .pager,
#media-browser-page .pager,
#media-browser .pager,
#ctools-node-content-type-edit-form .pager,
.page-admin div.field-type-taxonomy-term-reference,
.page-block div.field-type-taxonomy-term-reference,
.page-user div.field-type-taxonomy-term-reference,
.page-node-edit div.field-type-taxonomy-term-reference,
.page-node-add div.field-type-taxonomy-term-reference,
.page-node-webform div.field-type-taxonomy-term-reference,
.page-node-webform-results div.field-type-taxonomy-term-reference,
.page-node-submission div.field-type-taxonomy-term-reference,
.page-node-panelizer div.field-type-taxonomy-term-reference,
.page-node-clone div.field-type-taxonomy-term-reference,
.page-taxonomy-term-edit div.field-type-taxonomy-term-reference,
.page-taxonomy-term-add div.field-type-taxonomy-term-reference,
.page-import div.field-type-taxonomy-term-reference,
.page-batch div.field-type-taxonomy-term-reference,
#modal-content div.field-type-taxonomy-term-reference,
#media-browser-page div.field-type-taxonomy-term-reference,
#media-browser div.field-type-taxonomy-term-reference,
#ctools-node-content-type-edit-form div.field-type-taxonomy-term-reference,
.page-admin .view-brands-listing a,
.page-block .view-brands-listing a,
.page-user .view-brands-listing a,
.page-node-edit .view-brands-listing a,
.page-node-add .view-brands-listing a,
.page-node-webform .view-brands-listing a,
.page-node-webform-results .view-brands-listing a,
.page-node-submission .view-brands-listing a,
.page-node-panelizer .view-brands-listing a,
.page-node-clone .view-brands-listing a,
.page-taxonomy-term-edit .view-brands-listing a,
.page-taxonomy-term-add .view-brands-listing a,
.page-import .view-brands-listing a,
.page-batch .view-brands-listing a,
#modal-content .view-brands-listing a,
#media-browser-page .view-brands-listing a,
#media-browser .view-brands-listing a,
#ctools-node-content-type-edit-form .view-brands-listing a,
.page-admin .form-item label,
.page-block .form-item label,
.page-user .form-item label,
.page-node-edit .form-item label,
.page-node-add .form-item label,
.page-node-webform .form-item label,
.page-node-webform-results .form-item label,
.page-node-submission .form-item label,
.page-node-panelizer .form-item label,
.page-node-clone .form-item label,
.page-taxonomy-term-edit .form-item label,
.page-taxonomy-term-add .form-item label,
.page-import .form-item label,
.page-batch .form-item label,
#modal-content .form-item label,
#media-browser-page .form-item label,
#media-browser .form-item label,
#ctools-node-content-type-edit-form .form-item label,
.page-admin form input.form-submit,
.page-block form input.form-submit,
.page-user form input.form-submit,
.page-node-edit form input.form-submit,
.page-node-add form input.form-submit,
.page-node-webform form input.form-submit,
.page-node-webform-results form input.form-submit,
.page-node-submission form input.form-submit,
.page-node-panelizer form input.form-submit,
.page-node-clone form input.form-submit,
.page-taxonomy-term-edit form input.form-submit,
.page-taxonomy-term-add form input.form-submit,
.page-import form input.form-submit,
.page-batch form input.form-submit,
#modal-content form input.form-submit,
#media-browser-page form input.form-submit,
#media-browser form input.form-submit,
#ctools-node-content-type-edit-form form input.form-submit {
  font-family: 'universal', Sans-Serif;
}
.page-admin .breadcrumb,
.page-block .breadcrumb,
.page-user .breadcrumb,
.page-node-edit .breadcrumb,
.page-node-add .breadcrumb,
.page-node-webform .breadcrumb,
.page-node-webform-results .breadcrumb,
.page-node-submission .breadcrumb,
.page-node-panelizer .breadcrumb,
.page-node-clone .breadcrumb,
.page-taxonomy-term-edit .breadcrumb,
.page-taxonomy-term-add .breadcrumb,
.page-import .breadcrumb,
.page-batch .breadcrumb,
#modal-content .breadcrumb,
#media-browser-page .breadcrumb,
#media-browser .breadcrumb,
#ctools-node-content-type-edit-form .breadcrumb,
.page-admin h1.title,
.page-block h1.title,
.page-user h1.title,
.page-node-edit h1.title,
.page-node-add h1.title,
.page-node-webform h1.title,
.page-node-webform-results h1.title,
.page-node-submission h1.title,
.page-node-panelizer h1.title,
.page-node-clone h1.title,
.page-taxonomy-term-edit h1.title,
.page-taxonomy-term-add h1.title,
.page-import h1.title,
.page-batch h1.title,
#modal-content h1.title,
#media-browser-page h1.title,
#media-browser h1.title,
#ctools-node-content-type-edit-form h1.title {
  display: block;
}
.page-admin .field-name-field-module-image,
.page-block .field-name-field-module-image,
.page-user .field-name-field-module-image,
.page-node-edit .field-name-field-module-image,
.page-node-add .field-name-field-module-image,
.page-node-webform .field-name-field-module-image,
.page-node-webform-results .field-name-field-module-image,
.page-node-submission .field-name-field-module-image,
.page-node-panelizer .field-name-field-module-image,
.page-node-clone .field-name-field-module-image,
.page-taxonomy-term-edit .field-name-field-module-image,
.page-taxonomy-term-add .field-name-field-module-image,
.page-import .field-name-field-module-image,
.page-batch .field-name-field-module-image,
#modal-content .field-name-field-module-image,
#media-browser-page .field-name-field-module-image,
#media-browser .field-name-field-module-image,
#ctools-node-content-type-edit-form .field-name-field-module-image {
  display: block;
}
.page-admin div.region-content,
.page-block div.region-content,
.page-user div.region-content,
.page-node-edit div.region-content,
.page-node-add div.region-content,
.page-node-webform div.region-content,
.page-node-webform-results div.region-content,
.page-node-submission div.region-content,
.page-node-panelizer div.region-content,
.page-node-clone div.region-content,
.page-taxonomy-term-edit div.region-content,
.page-taxonomy-term-add div.region-content,
.page-import div.region-content,
.page-batch div.region-content,
#modal-content div.region-content,
#media-browser-page div.region-content,
#media-browser div.region-content,
#ctools-node-content-type-edit-form div.region-content {
  background: transparent;
}
.page-admin #main-wrapper,
.page-block #main-wrapper,
.page-user #main-wrapper,
.page-node-edit #main-wrapper,
.page-node-add #main-wrapper,
.page-node-webform #main-wrapper,
.page-node-webform-results #main-wrapper,
.page-node-submission #main-wrapper,
.page-node-panelizer #main-wrapper,
.page-node-clone #main-wrapper,
.page-taxonomy-term-edit #main-wrapper,
.page-taxonomy-term-add #main-wrapper,
.page-import #main-wrapper,
.page-batch #main-wrapper,
#modal-content #main-wrapper,
#media-browser-page #main-wrapper,
#media-browser #main-wrapper,
#ctools-node-content-type-edit-form #main-wrapper {
  background: #FFFFFF none repeat scroll 0 0;
  margin-top: 0 !important;
}
.page-admin #footer-wrapper,
.page-block #footer-wrapper,
.page-user #footer-wrapper,
.page-node-edit #footer-wrapper,
.page-node-add #footer-wrapper,
.page-node-webform #footer-wrapper,
.page-node-webform-results #footer-wrapper,
.page-node-submission #footer-wrapper,
.page-node-panelizer #footer-wrapper,
.page-node-clone #footer-wrapper,
.page-taxonomy-term-edit #footer-wrapper,
.page-taxonomy-term-add #footer-wrapper,
.page-import #footer-wrapper,
.page-batch #footer-wrapper,
#modal-content #footer-wrapper,
#media-browser-page #footer-wrapper,
#media-browser #footer-wrapper,
#ctools-node-content-type-edit-form #footer-wrapper {
  margin-top: 0 !important;
  padding: 0;
}
#mediaBrowser > html {
  background: #FFFFFF none repeat scroll 0 0;
}
#media-browser-tabset a.button,
#media-browser-tabset input.form-submit {
  padding: 0 13px 1px;
}
.radix-layouts-column1.node-quarter .panels-ipe-portlet-wrapper,
.radix-layouts-column2.node-quarter .panels-ipe-portlet-wrapper {
  float: left;
  width: 50%;
}
.radix-layouts-column1 .panel-panel-inner .radix-layouts-content .panel-panel-inner {
  padding: 0 50px;
}
div.panels-ipe-placeholder h3 {
  width: 100px;
}
.node-quarter .panels-ipe-dragbar-admin-title {
  display: inline-block;
  height: 70px;
  overflow: hidden;
  width: 150px;
}
