@font-face {
  font-family: 'universal';
  src: url('fonts/UniversaLTStd/UniversLTStd-Light.otf');
  font-weight: normal;
  font-style: normal;
}

.js .drupal-navbar .navbar-tray {
  //display: none;
}

.page-admin,
.page-block,
.page-user,
.page-node-edit,
.page-node-add,
.page-node-webform,
.page-node-webform-results,
.page-node-submission,
.page-node-panelizer,
.page-node-clone,
.page-taxonomy-term-edit,
.page-taxonomy-term-add,
.page-import,
.page-batch,
#modal-content,
#media-browser-page,
#media-browser,
#ctools-node-content-type-edit-form {
  .main-wrapper .field-item a,
  h2.pane-title,
  .pane-alm-store-locator-store-locator-home input#edit-submit,
  .pane-alm-store-locator-store-locator-default input#edit-submit,
  .page-store-locator-results a,
  ul.contextual-links,
  .pager, div.field-type-taxonomy-term-reference,
  .view-brands-listing a,
  .form-item label,
  form input.form-submit {
    font-family: 'universal', Sans-Serif;
  }

  .breadcrumb, h1.title {
    display: block;
  }

  .field-name-field-module-image {
    display: block;
  }

  div.region-content {
    background: transparent;
  }

  #main-wrapper {
    background: #FFFFFF none repeat scroll 0 0;
    margin-top: 0 !important;
  }

  #footer-wrapper {
    margin-top: 0 !important;
    padding: 0;
  }

}

#mediaBrowser > html {
  background: #FFFFFF none repeat scroll 0 0;
}

#media-browser-tabset a.button, #media-browser-tabset input.form-submit {
  padding: 0 13px 1px;
}

.radix-layouts-column1.node-quarter .panels-ipe-portlet-wrapper,
.radix-layouts-column2.node-quarter .panels-ipe-portlet-wrapper {
  float: left;
  width: 50%;
}

.radix-layouts-column1 .panel-panel-inner .radix-layouts-content .panel-panel-inner {
  padding: 0 50px;
}

div.panels-ipe-placeholder h3 {
  width: 100px;
}

.node-quarter .panels-ipe-dragbar-admin-title {
  display: inline-block;
  height: 70px;
  overflow: hidden;
  width: 150px;
}
