/* Fonts */

@font-face {
    font-family: 'temp';
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bodycopy';
    src: url('fonts/OpenSans/OpenSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'headings';
    src: url('fonts/Knockout/Knockout-68.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'knockout';
    src: url('fonts/Knockout/Knockout_HTF47Bantamweight_Regular.otf');
    font-weight: normal;
    font-style: normal;
}


.heading-tag {
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 1;
}

.preheader-tag {
    font-size: 26px;
}

.taxonomy-sidebar-tag {
    font-size: 18px;
    letter-spacing: 1px;
}

.taxonomy-content-tag {
    font-size: 12px;
}

.module-headings-tag {
    font-size: 32px;
    line-height: 1;
}

.important-heading-tag {
    font-size: 22px !important;
}

.form-mandatory-tag {
    font-size: 14px;
    letter-spacing: 1px;
}

.generic-field-link-tag {
    font-size: 12px;
    line-height: 1;
    letter-spacing: 1px;
}

.header-field-link-tag {
    font-size: 18px;
    line-height: 26px;
}

.submit-search-tag {
    font-size: 11px;
}

.search-label-tag {
    font-size: 22px;
    letter-spacing: 1px;
}

.search-submit-2-tag {
    font-size: 12px;
    line-height: 21px;
}

.search-current-title-tag {
    font-size: 32px !important;
}

.search-excerpt-tag {
    font-size: 16px;
}

.search-pager-tag {
    font-size: 22px;
}

.store-locator-submit-tag {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1px;
}

.store-title-link-tag {
    font-size: 12px;
    letter-spacing: 1px;
}

.store-name-link-tag {
    font-size: 24px;
    line-height: 0.6;
}

.store-name-first-link-tag {
    font-size: 36px;
    line-height: 0.7;
}

.store-field-text-tag {
    font-size: 16px;
    letter-spacing: 1px;
}

.store-label-tag {
    font-size: 14px;
}

.store-label-important-tag {
    font-size: 14px !important;
}

.store-features-title-tag {
    font-size: 14px !important;
}

.store-icon-tag {
    font-size: 24px;
}

.standard-article-title-tag {
    font-size: 48px;
}

.standard-article-sub-title-tag {
    font-size: 28px !important;
}

.standard-article-name-tag {
    font-size: 22px;
}

.sidebar-heading-tag {
    font-size: 32px !important;
}

.sidebar-item-list-tag {
    font-size: 18px;
    letter-spacing: 1px;
}

.sidebar-blog-item-list-tag {
    font-size: 16px;
    letter-spacing: 1px;
}

.balloon-tag {
    font-size: 14px;
    line-height: 1;
}

.brands-listing-tag {
    font-size: 22px;
}

.generic-content-body-tag {
    font-size: 16px;
    line-height: 30px;
}

.pagenotfound-tag {
    font-size: 18px;
}

.form-title-tag {
    font-size: 48px !important;
    line-height: 1 !important;
}

.form-subtitle-tag {
    text-transform: uppercase;
    font-size: 32px;
}

.form-text-summary-tag {
    font-size: 18px;
}

.form-label-tag {
    font-size: 22px;
}

.form-error-tag {
    font-size: 14px;
}


.form-submit-tag {
    font-size: 18px;
    letter-spacing: 1px;
}

.banner-title-tag {
    line-height: 350px !important;
    font-size: 80px !important;
    letter-spacing: 1px;
}

.carousel-disclaimer-tag {
    font-size: 11px;
}

.main-menu-link-tag {
    font-size: 14px;
}

.main-menu-link-large-tag {
    font-size: 14px;
    line-height: 38px;
}

.footer-menu-block-tag {
    font-size: 12px;
}

.footer-menu-block-alt-tag {
    font-size: 11px;
}

.footer-menu-block-4-tag {
    font-size: 11px;
}

.store-locator-large-tag {
    font-size: 48px !important;
}

.store-locator-results-large-tag {
    font-size: 48px !important;
}

.autocomplete-tag {
    font-size: 12px;
}


.store-locator-submit-tag-home,
.store-locator-submit-tag-home-mobile,
.store-locator-submit-tag-search,
.store-locator-submit-tag-search-mobile,
.store-locator-submit-tag-search-result,
.store-locator-submit-tag-search-result-mobile {
    line-height: normal;
}





@import "../../less/core-styles.less";

/* Colour Pallette */
@primaryColour: #f7141d;
@secondaryColour: #231f20; /* #323941; */
@tertiaryColour: #1b242c;
@darkColor: #666;
@lightColor: #f6f6f6;
@greyColorA: #efefef;
@greyColorB: #e6e6e6;
@textColor: #1c242b;

@gradientA: #f7141d;
@gradientB: #f7141d;

@headerColor: @secondaryColour;

@mainMenuBackgroundColor: @greyColorA;
@mainMenuForegroundColor: @tertiaryColour;
@mainMenuHoverColor: @primaryColour;

@darkBackground: @primaryColour;
@darkForeground: @lightColor;
@lightBackground: @greyColorA;

@lightForeground: @secondaryColour;

@svgColour: @lightColor;

@mapBallonBackground: @secondaryColour;
@slideBackground: rgb(8,9,16);
@slideForeground: #fff;

@footerTextColour: @lightColor;
@storeResultForeground: @lightColor;

@competitionsForeground: #000;

@siteWidth: 1366px + 30px; // 1396px;
@bannerHeight: 400px;

// temp colors
@lightColor2: #f7f7f7;
@lightBackground2: @lightColor2;

#main {
    background-color: white;
}

.no-sidebars #content {
    .section {
        padding: 0;
    }
}
div.region-content {
    background-color: transparent;
}

.colour-primary {
    background-color: @primaryColour;
    color: @lightColor;

    .panel-panel-inner {
        .field-item a {
            color: @lightColor;
            border: 2px solid @lightColor;
        }
    }
}

.colour-secondary {
    background-color: @secondaryColour;
    color: @lightColor;

    .panel-panel-inner {
        .field-item a {
            color: @lightColor;
            border: 2px solid @lightColor;
        }
    }
}

.colour-dark {
    background-color: #e9e9e9;
    color: @secondaryColour;

    .panel-panel-inner {
        .field-item a {
            color: @secondaryColour;
            border: 2px solid @secondaryColour;
        }
    }
}

.colour-light {
    background-color: white;
    color: @tertiaryColour;

    .panel-panel-inner {
        .field-item a {
            color: @tertiaryColour;
            border: 2px solid @tertiaryColour;
        }
    }
}

.search-social-wrapper {
    position: absolute;
    top: 0px;
    right: 20px;
    padding: 11px;
}


.pane-alm-store-locator-store-locator-home,
.pane-alm-store-locator-store-locator-default {
    input#edit-submit {
        color: @lightColor;
        background: @secondaryColour;
    }
}

.page-store-locator {
    .pane-alm-store-locator-store-locator-home,
    .pane-alm-store-locator-store-locator-default {
        input#edit-submit {
            color: @lightColor;
            background: @secondaryColour;
        }
    }
}

.view-carousel {
    .views-slideshow-cycle-main-frame-row-item {
        .field-name-field-call-to-action-link {
            .field-item a {
                border-color: @lightColor;
                color: @lightColor;
            }
        }
    }
}

.page-specials {
    .view-catalogue-list {
        text-align: center;

        li {
            margin: 0 50px;
            padding: 0;
            list-style: none;
            display: inline-block;

            a {
                margin: 20px 0;
                display: inline-block;
                padding: 10px 50px;
                text-transform: uppercase;
                text-decoration: none;
                text-align: center;
                border: 2px solid @primaryColour;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}

/* Store Locator */
.pane-alm-store-locator-store-locator-home,
.pane-alm-store-locator-store-locator-default {
    h2.pane-title {
        width: 230px;
    }
}



.region-header {
    margin: 12px;
    #block-bean-iga-facebook {
        .field-item {
            display: inline-block;
            a.link-facebook {
                background-color: transparent !important;
                background-image: url(svg/facebook-light.svg) !important;

                &:hover {
                    background-color: transparent !important;
                    background-image: url(svg/facebook-dark.svg) !important;
                }
            }
            a.link-email {
                background-color: transparent !important;
                background-image: url(svg/email-light.svg) !important;

                &:hover {
                    background-color: transparent !important;
                    background-image: url(svg/email-light.svg) !important;
                }
            }
        }
    }

}
.view-carousel {
    &:after {
        display: none;
    }
    .panel-panel-inner {
        &:after {
            display: none;
        }
    }
    .colour-light {
        .group-module-overlay {
            width: 400px;
            padding-right: 75px;
            padding-left: 60px;
            right: auto;
            left: 0;
            background-image: none;
            background-color: #ffffff;
        }
    }
    .colour-secondary {
        .group-module-overlay {
            right: auto;
            left: 0;
            background-image: none;
            background-color: #000000;
        }
    }
    .views-slideshow-controls-bottom {
        right: 25px;
        left: auto;
    }

}

#footer {
    #block-bean-iga-social-media {
        .field-item {
            a.link-facebook {
                background-color: @lightColor !important;

                &:hover {
                    background-color: inherit !important;
                    background-image: url(svg/facebook-dark.svg) !important;
                }
            }
        }
    }
}


.page-store-locator-results {

    .pane-split-store-panel-pane-1 {
        background-color: @primaryColour;
    }

    .view-display-id-panel_pane_1 {
        .views-row {
            .views-field-field-geofield-distance {
                color: @secondaryColour;
            }
        }
    }
}

.node-type-store {
    .sutro > .container-fluid > .row:first-child > .panel-panel > .panel-panel-inner {
        .field-name-take-me-there,
        .field-name-whats-on-in-store,
        .field-name-field-store-telephone {
            .field-item {
                a {
                    color: @secondaryColour;
                    border-color: @secondaryColour;
                }
            }
        }


        .field-name-take-me-there,
        .field-name-whats-on-in-store {
            .field-item {
                a {
                    border: 2px solid @lightColor;
                    color: @lightColor;
                }
            }
        }

        .views-field-field-store-shortname,
        .views-field-title {
            h1 {
                line-height: 1.25 !important;
                border-color: @lightColor;
            }
        }

        .views-field-title,
        .views-field-field-store-shortname,
        .views-field-title {
            max-width: 65%;
        }
    }

    .view-store-detail-map {
        .view-content {
            div.ip-geoloc-map {
                &:after {
                    background: transparent;
                }
            }
        }
    }
}


.balloon {
    a {
        color: @secondaryColour;
    }
}

.page-newsletter h2, .page-contact-us h2 {
    width: auto;
}


.view-carousel .views-slideshow-cycle-main-frame-row-item {
    .colour-dark {
        .group-module-overlay {
            color: @tertiaryColour;

            .field-name-field-call-to-action-link {
                .field-item a {
                    border-color: @tertiaryColour;
                    color: @tertiaryColour;
                }
            }
        }
    }


    .colour-primary {
        .group-module-overlay {
            color: @tertiaryColour;

            .field-name-field-call-to-action-link {
                .field-item a {
                    border-color: @tertiaryColour;
                    color: @tertiaryColour;
                }
            }
        }
    }
}

.node-type-store {
    .sutro > .container-fluid > .row:first-child > .panel-panel > .panel-panel-inner {
        .views-field-field-store-trading-hours,
                .field-name-field-store-trading-hours .field-label {
                    color: @darkForeground;
            }
        }
    }

/*.colour-dark {
    color: @lightColor;

    .panel-panel-inner {
        .field-item a {
            color: @lightColor;
            border: 2px solid @lightColor;
        }
    }
}

.colour-light {
    color: @tertiaryColour;

    .panel-panel-inner {
        .field-item a {
            color: @tertiaryColour;
            border: 2px solid @tertiaryColour;
        }
    }
}*/

.page-bottle-shops {
    #featured {
        div.section {
            input#edit-submit--2 {
                margin-top: 1px !important;
            }
        }
    }
}

.field-item {
    a {
        font-family: 'knockout';
        font-size: 14px;
        text-align: center;
        color: @tertiaryColour;
    }
}

@media screen and (max-width: @siteWidth){
    .search-social-wrapper {
        padding: 0;
        top: 13px;
    }
}

#logo {
    background-image: url("svg/logo-light.svg");
}

@media (max-width: @screen-sm-min) {
    #logo {

    }

    #search-form {
        input[type=text] {
            width: 50% !important;
        }
    }
}

@media (min-width: @screen-sm-min) {

    #logo {
        margin-left: calc(~"50% - 75px");
        margin-top: 13px;
        margin-bottom: 13px;
        height: 28px;
        width: 150px;
    }

    #header .navigation a,
    #header #main-menu-links {
        font-family: 'knockout', Sans-Serif;
    }

    #main-menu-links{
        li {
            a {
                border: none;
                font-size: 24px;
                font-family: 'knockout';
                text-align: center;
                color: #ffffff;
                .icon{
                    display: none;
                }
                background: rgba(36,32,32, 0.8);
                &:hover, &:focus {
                    background-color: rgba(247, 20, 29, 0.8);
                }

            }
            background-size: cover;
            background-position: center center;
            &:first-child {
                background-image: url(images/menu/menu-bg-1.png);
            }
            &:nth-child(2) {
                background-image: url(images/menu/menu-bg-2.png);
            }
            &:nth-child(3) {
                background-image: url(images/menu/menu-bg-3.png);
            }
            &:nth-child(4) {
                background-image: url(images/menu/menu-bg-4.png);
            }
            &:nth-child(5) {
                background-image: url(images/menu/menu-bg-5.png);
            }
            &.active-trail {
                a, a:hover {
                    background-color: rgba(247, 20, 29, 0.8);
                }
            }
        }

    }

    .alm-layouts-header {
        &.node-double {
            padding: 60px 75px;
        }
    }

    .page-store-locator-results {
        .pane-alm-store-locator-store-locator-home {
            h2.pane-title {
                font-size: 24px !important;
                line-height: 50px !important;
            }
        }
    }

    .front{
        .double-module.image-placement-left {
            .panel-panel-inner{
                .field-name-field-module-image{
                    width: 60%;
                }
                .group-module-copy {
                    width: 40%;
                }
            }
        }
    }
    #newsletter-sign-up-panel {
        background-color: @greyColorA;
        &:after {
            content: ".";
            display: block;
            clear: both;
            visibility: hidden;
            line-height: 0;
            height: 0;
        }
        .pane-content {
            width: 450px;
            padding: 12px 20px;
            margin: auto;

            .webform-component--title-dek{
                font-family: Arial;
                font-size: 13px;
                line-height: 1.54;
                text-align: center;
                color: @tertiaryColour;
            }
            .webform-component--email, .webform-component--state, .form-actions{
                float: left;
                padding-right: 30px;
            }
            .webform-component--email{
                width: 200px;

                input {
                    width: 100%;
                    border: 0;
                    outline: 0;
                    background: transparent;
                    border-bottom: 2px solid @tertiaryColour;
                    font-size: 14px;
                }
            }
            .webform-component--state{
                width: 120px;
                select {
                    width: 100%;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;       /* remove default arrow */
                    background: url(svg/select-arr.svg) ~"96% / 15%" no-repeat;   /* add custom arrow */
                    border: 0;
                    background-color: transparent;
                    outline: 0;
                    border-bottom: 2px solid @tertiaryColour;
                    border-radius: 0;
                    color: grey;
                    font-size: 14px;
                }

            }
            .form-actions{
                padding: 0;
                margin: 0;
                input {
                    color: @tertiaryColour;
                    border-radius: 0;
                    border: 2px solid @tertiaryColour;
                    font-family: "knockout";
                    width: 86px;
                    height: 32px;
                    font-size: 14px;
                    text-transform: uppercase;
                    margin: 0;
                }
            }

        }
        h2 {
            width: 430px;
            margin-top: 0;
            margin: auto;
            text-align: center;
            font-size: 28px;
            padding-top: 12px;
            color: @primaryColour;
        }
    }
}


@media (min-width: @screen-sm-min) {
    @media (max-width: 1100px) {
        #block-alm-store-locator-store-locator-nearest {
            display: none;
        }
    }
}


@media (min-width: 990px) {

    #logo {

    }

    #footer {
        background-color: @lightColor;

        .region {
          padding: 0;
            margin-left: 122px;
          background-color: @lightBackground2;
        }

        .block .content {
          padding: 0;
        }

        #block-menu-block-2 {
            padding-bottom: 0px !important;
            border: none !important;

            .menu {
              -webkit-justify-content: flex-start;
              justify-content: flex-start;
            }

            ul {
              font: 14px knockout;
              color: @textColor;
              width: 176px;

              li {
                margin-top: 47px;
                margin-right: 6px;
                  margin-left: 6px;
                padding-right: 0;
                border-right: none;


                a {
                  color: @secondaryColour;
                  text-transform: none;
                    padding: 0;
                }

                &:last-child {
                  padding-right: 0;
                  border-right: 0;
                }
              }
            }


            &:after {
                top: 16px;
                left: 0;
                height: 23px;
                width: 116px;
                background-image: url("svg/logo-dark.svg");
            }
        }

        #block-menu-block-2 {
            li:first-child {
                margin-left: 0;
            }
            li:last-child {
                margin-right: 0;
            }
        }

        #block-menu-block-3 {
            li {
                &:last-child {
                    margin-right: 50px;
                }
            }
        }

        #block-bean-iga-social-media {
            left: 196px;
            top: 46px;

            a {
                background-size: 100% !important;
                width: 15px;
                height: 15px;
                border-radius: 0;
                margin: 0;
            }

            .link-youtube {
                display: none;
            }
        }

        #block-bean-iga-copyright {
            position: static;
            margin-top: 19px;
            margin-bottom: 12px;
            width: 234px;

            p {
                height: 20px;
                font-family: Arial;
                font-size: 6px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 3.33;
                letter-spacing: normal;
                text-align: left;
                color: @textColor;
                margin: 0;
            }
        }
    }

}
